footer {
    width: 100%;
}

.footer-container-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer-info {
  grid-column: span 1;
  text-align: left;
}
.footer-info ul li a {
  text-decoration: none;
  color: #000;
}

.footer-title-info {
  padding: 10px 0;
  color: gray;
}
.footer-text-color {
    background-color: var(--color-light);
    color: #000;
    font-family: var(--font-principal, sans-serif);
    padding: 2rem 1rem;
    position: relative;
  }
  
  .footer-rrss {
      grid-column: span 1;
      display: flex;
      padding: 10px 0;
      /* flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: bottom;
      align-content: stretch; */
      gap: 20px;
  }
  
  .footer-rrss a i {
    color: #000;
  }

  .footer-rrss a:hover i {
    color: var(--color-primary);
  }
  
  .footer-info ul.no-bullets li {
    line-height: 1.5;
  }
  
  
  .no-bullets {
    list-style: none;
    padding: 0;
    margin: 0;

  }

  .copyright {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .developer {
    text-align: left; /* Alinea el contenido a la izquierda */
    margin-left: 20px; /* Si deseas agregar un margen a la izquierda */
  }
  

  
