:root {
  --color-primary:  #499BCC;
  --color-secondary: #146598;
  --color-tertiary: #5C9CC6;
  --color-light: #DBD9DA;
  /* #D4ECF9; */
  --font-primary: Roboto, sans-serif;
  --header-height: 10vh;
}

* {
  box-sizing: border-box;
  margin: 0;  /* 👈 mucho más seguro */
}  

h1, h2, h3 {
  all: unset;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  display: block;
  width: 90%;
  max-width: 1920px;         /* límite ancho en pantallas grandes */
  margin: 0 auto;            /* centrado horizontal */
  padding-top: var(--header-height); /* espacio debajo del header fijo */
  min-height: calc(100vh - var(--header-height) - 60px); 
  /* 60px = alto aproximado del footer, ajústalo a tu caso */
}


.mic-btn {
  background: transparent;   /* sin círculo */
  border: none;
  color: var(--color-primary); /* color azul */
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: auto;          /* se pega a la derecha */
  padding: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.mic-btn:hover {
  color: var(--color-secondary);
}

/* Estado de grabación */
.mic-btn.listening {
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
